.App {
    padding: 20px;
}

.editLink {
    alignment: right;
    cursor: pointer;
}

.fi-Single-Stage {
    border-radius: 25px;
    padding: 2px;
}
.fi-Stages-Container {
    /*alignment: center;*/
}

.fi-stage-growth-to-next-false {
    display: none;
}

.fi-stage-progress-bar-false {
    display: none;
}

.fi-stage-swr-false {
    display: none;
}