.App {
    padding: 20px;
}

.editLink {
    alignment: right;
    cursor: pointer;
}

.input-form-container {
    padding: 5px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    background: whitesmoke;
    box-shadow: cadetblue;
    border-radius: 25px;
}

.fi-Single-Stage {
    padding: 5px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    background: whitesmoke;
    box-shadow: cadetblue;
    border-radius: 25px;
}
.fi-Stages-Container {
    /*alignment: center;*/
}

.fi-stage-growth-to-next-false {
    display: none;
}

.fi-stage-progress-bar-false {
    display: none;
}

.fi-stage-swr-false {
    display: none;
}

